<h1>Editing classified</h1>

<%= render "form", classified: @classified %>

<br>

<div>
  <%= link_to "Show this classified", @classified %> |
  <%= link_to "Back to classifieds", classifieds_path %>
</div>
