<div class="container">
<h1>Editing market</h1>

<%= render "form", market: @market %>

<br>

<div>
  <%= link_to "Show this market", @market class:"btn btn-dark %> |
  <%= link_to "Back to markets", markets_path class:"btn btn-dark %>
</div>
</div>
