<div class="container">
<p style="color: green"><%= notice %></p>

  <h1>Upcoming Markets</h1>

  <br />
 <br />
  <small> Check out the calendar below for upcoming farmers markets, craft fairs, and more! </small>
<br />
<br />
<%= month_calendar(events: @markets) do |date, markets| %>
  <%= date.day %>

  <% markets.each do |market| %>
    <div>
      <%= link_to market.title, market, class: 'btn btn-outline-dark btn-sm' %>
    </div>
  <% end %>
<% end %>
</div>





